<%= form_for [@profile.user, @profile] do |f| %>
    
    <div class="field">
      <%= f.text_field :first_name, placeholder: 'First Name' %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
    </div>

    <div class="field">
      <%= f.radio_button :gender, 'male' %> Male
      <%= f.radio_button :gender, 'female' %> Female
    </div>

    <div class="field">
      <%= f.text_area :about_me %>
    </div>

    <div class="field">
      <%= f.date_field :date_of_birth %>
    </div>

    <div class="submit">
      <%= f.submit 'Update Profile' %>
    </div>

  <% end %>