<div class="user-profile-box bg-dark m-2 p-3">
  
  <div class="user-avatar">
    <%= image_tag avatar(@user, :profile), class: 'rounded-circle d-block mx-auto bg-white shadow-sm' %>
  </div>

  <h1 class='username text-center'>
    <%= @user.username %>
  </h1>

  <div class="edit-profile-button">
    <%= edit_profile_button(@user) %>
  </div>

  <div class="friends-details text-center">
    <p><%= link_to "Friends <span class='badge badge-secondary'>#{@user.friendships_count}</span>".html_safe, friends_user_path(@user) %></p>
  </div>

  <div class="friendship_button">
    <%= friendship_button(@user) %>
  </div>

  <div class="profile-details">
    <p class="full-name">
      <%= name_details(@user) %>
    </p>

    <p class="about-me">
      Bio: <%= @user.profile.about_me %>
    </p>

    <p class="date-of-birth">
      <%= @user.profile.date_of_birth.strftime("%B %d, %Y") %>
    </p>

    <p class="gender">
      <%= @user.profile.gender.capitalize %>
    </p>
  </div>

</div>

<div class="all-posts">
  <%= render @posts %>
</div>

