<div class="row vh-100">

  <!-- The left half -->
  <div class="col-md-7 vh-100">
    <div class="signup shadow rounded py-5 mx-5 bg-light w-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <p class="h1">Welcome to <span class="h1 header-font">Devium</span></p>
            <p class="lead">Let's get you all set up so you can meet your amazing peers</p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :username %>
                <%= f.text_field :username, autocomplete: "username", autofocus: true, class: 'form-control form-control-lg rounded-pill border-0 shadow-sm px-4' %>
              </div>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autocomplete: "email", class: 'form-control form-control-lg rounded-pill border-0 shadow-sm px-4' %>
              </div>
              
              <div class="profile-fields date">
                <%= f.fields_for :profile do |profile_form| %>
                  <div class="form-group">
                    <%= profile_form.label :age %>
                    <%= profile_form.date_field :date_of_birth, class: 'form-control form-control-lg rounded-pill border-0 shadow-sm px-4' %>
                  </div>

                  <div>
                    <%= profile_form.label :gender %><br>
                    <div class="form-group custom-control custom-radio">
                      <%= profile_form.radio_button :gender, 'male', class: 'custom-control-input', id: 'customRadio1', name: 'gender' %> 
                      <label class="custom-control-label" for="customRadio1">Male</label>
                    </div>
                    <div class="form-group custom-control custom-radio">
                      <%= profile_form.radio_button :gender, 'female', class: 'custom-control-input', id: 'customRadio2', name: 'gender' %>
                      <label class="custom-control-label" for="customRadio2">Female</label>
                    </div>
                    
                    
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2"> Male
                      </label>
                      <label class="btn btn-primary rounded-left">
                        <input type="radio" name="options" id="option3"> Female
                      </label>
                    </div>


                  </div>
                <% end %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-lg rounded-pill border-0 shadow-sm px-4' %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg rounded-pill border-0 shadow-sm px-4' %>
              </div>


              <div class="actions form-group">
                <%= f.submit "Sign up", class: 'btn btn-primary text-uppercase mb-2 rounded-pill shadow-sm form-control form-control-lg font-weight-bold' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end -->

  <!-- The right half -->
  <div class="col-md-5">
    
  </div><!-- end -->

</div>

