<div style="background-color: #eee; margin: 10px auto; width: 70%;">
  <div>
    <h3><%= link_to comment.user.username, user_profile_path(comment.user) %></h3>
  </div>

  <div>
    <p><%= comment.comment_content %></p>
  </div>

  <div>
    <em>
      Published <%= time_ago_in_words(comment.created_at) %> ago
    </em>
  </div>

  <div class="likes-box">
    <%= like_comment_button(comment) %>
    <p><%= comment.likes_count %></p>
  </div>

  <div class="comment-buttons">
    <%= edit_button(comment) %>  
    <%= delete_button(comment) %>
  </div>

</div>