<li>
  <%= link_to notification.notifiable, 'data-behavior': 'notification-link', id: notification.id do %>
    <div class="media">
      <div class="media-left media-middle">
        <!-- Maybe put the actor's avatar here
        -->
        <!-- = image_tag '...'
        -->
      </div>
      <div class="media-body">
        <span class="small text-muted">
          <%= notification.created_at %>
        </span>
        <p>
          <strong>
            <%= notification.actor.fullname %>
          </strong>
            <%= notification.action %> on
            <%= notification.notifiable.class.model_name.human.downcase %>
          in
          <strong>
            <%= notification.notifiable.post.title %>
          </strong>
        </p>
        <p class="small text-muted">
          <i>
            <%= truncate(notification.notifiable.comment_content, length: 100) %>
          </i>
        </p>
      </div>
    </div>
  <% end %>
</li>
<li class="divider"></li>
