<div class="card post_box mb-4 shadow" id='post_<%= post.id %>'>
  <div class="row no-gutters">
    <div class="col col-md-12">
      <div class="mt-3">
        <div class="row justify-content-between mx-1">
          <h5>
            <%= link_to user_profile_path(post.user), class: 'text-decoration-none' do %>
              <span class="user-avatar">
                <%= image_tag avatar(post.user, :x_small), class: 'rounded-circle' %>
              </span>
              <%= post.user.username %>
            <% end %>
          </h5>

          <div class="dropdown">
            <%= show_dropdown_post_button(post) %>
            <div class="dropdown-menu dropdown-menu-right"
                 arial-labelledby="drop-down-button"
            >
              <p>
                <small class="post-edit-button dropdown-item text-muted">
                  <%= edit_post_button(post) %>
                </small>
              </p>
              <p>
                <small class="post-delete-button dropdown-item text-muted">
                  <%= delete_post_button(post) %>
                </small>
              </p>
            </div>
          </div>
        </div>

        <p class="mx-1">
          <%= autolink(post.post_content) %>
        </p>

        <div class="row mx-1 justify-content-between">
          <div class="likes-box post-likes">
            <%= like_button(post) %>
            <span class="badge badge-secondary">
              <%= post.likes_count %>
            </span>
          </div>
          <p>
            <small class="text-muted">
              Published
              <%= link_to time_ago_in_words(post.created_at), post %> ago
            </small>
          </p>
        </div>
      </div>

      <div class="card-footer">
        <a
          class="btn btn-primary btn-sm"
          data-toggle="collapse"
          href="#viewComments<%= post.id%>"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <small>
            View Comments
          </small>
        </a>
        <a
          class="btn btn-primary btn-sm"
          data-toggle="collapse"
          href="#addComment<%= post.id%>"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <small>
            Add Comment
          </small>
        </a>
      </div>
      <div class="post-comments collapse show pb-1" id="viewComments<%= post.id%>">
        <small class="text-muted">
          <%= render post.comments %>
        </small>
      </div>
      <div class="form-new-comment collapse form-group" id="addComment<%= post.id%>">
        <%= render partial: 'comments/form', locals: { post: post } %>
      </div>

    </div>
  </div>
</div>
