<div class="post_box">

  <div>
    <h3><%= link_to post.user.username, user_profile_path(post.user) %></h3>
  </div>

  <div>
    <p><%= post.post_content %></p>
  </div>

  <div>
    <em>published <%= link_to time_ago_in_words(post.created_at), post %> ago</em>
  </div>

  <div class="likes-box">
    <%= like_button(post) %>
    <p><%= post.likes_count %></p>
  </div>

  <%# render comments %>
    <%# add new comment %>
    <%# show post comments %>
      <%# comment likes %>
</div>