<div class="post_box">

  <div class="user-avatar">
    <%= avatar(post.user, :small) %>
  </div>

  <div>
    <h3><%= link_to post.user.username, user_profile_path(post.user) %></h3>
  </div>

  <div class="post-edit-button">
    <%= edit_post_button(post) %>
  </div>

  <div class="post-delete-button">
    <%= delete_post_button(post) %>
  </div>

  <div>
    <p><%= post.post_content %></p>
  </div>

  <div>
    <em>published <%= link_to time_ago_in_words(post.created_at), post %> ago</em>
  </div>

  <div class="likes-box">
    <%= like_post_button(post) %>
    <p><%= post.likes_count %></p>
  </div>

  <div class="form-new-comment">
    <%= render partial: 'comments/form', locals: { post: post } %>
  </div>

  <div class="post-comments">
    <%= render post.comments %>
  </div>

</div>