<div class="navbar navbar-dark bg-dark navbar-expand-lg mb-4 sticky-top">
  <div class="container">
    <div class="navbar-brand header-font">
      <%= link_to 'Devium', root_path, class: 'h2' %>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if signed_in? %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <%= link_to "Find friends", all_users_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to received_requests_path, class: 'nav-link' do %>
              <p>
                Pending Requests
                <span class="badge badge-secondary">
                  <%= current_user.received_requests_count %>
                </span>
              </p>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to sent_requests_path, class: 'nav-link' do %>
              <p>
                Sent Requests
                <span class="badge badge-secondary">
                  <%= current_user.sent_requests_count %>
                </span>
              </p>
            <% end %>
          </li>

          <%# start of notification drop down menu %>
          <li class="nav-item dropdown" data-behavior="notifications">
            <a
              class="nav-link p-0"
              id="notification-dropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-behavior="notification-link"
            >
              <%= fa_icon 'bell', class: 'nav-link fa-lg mt-1' %>
              <span data-behavior="unread-count" class="badge badge-secondary">
              </span>
            </a>

            <div
              aria-labelledby="notification-dropdown"
              data-behavior="notification-items"
              class="dropdown-menu dropdown-menu-right bg-dark overflow-auto"
              style="max-height: 80vh;"
            >
              <%= link_to 'Mark all as read',
                          mark_as_read_notifications_path,
                          method: :post,
                          class: 'dropdown-item nav-link',
                          remote: true
              %>
            </div>
          </li>
          <%# end of notification dropdown menu %>

          <li class="nav-item dropdown">
            <a 
              class="nav-link p-0"
              href="#"
              id="notification-dropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= image_tag avatar(current_user, :small), class: 'rounded-circle' %>
            </a>

            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
              <%= link_to 'Profile', user_profile_path(current_user), class: 'dropdown-item nav-link' %>
              <%= link_to 'Friends', friends_user_path(current_user.username), class: 'dropdown-item nav-link' %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item nav-link' %>
            </div>

          </li>
        </ul>
      </div>

    <% else %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>

        </ul>
      </div>
    <% end %>

  </div>
</div>
