<%# TODO: find away to send without using each %>

<% @incoming_requests.each do |request| %>
  <div class="card mb-4 mx-auto p-2 shadow" style="max-width: 768px;"><!-- Each request box starts -->  
    <div class="row no-gutters request-box">   

      <div class="user-avatar col-4 my-auto"><!-- Left half starts -->
        <%= image_tag avatar(request.sender, :profile), class: 'rounded-circle card-img img-thumbnail' %>
      </div><!-- Left half ends -->

      <div class="col-8"><!-- Right half starts -->
        <div class="card-body">
          
          <h5 class="card-title"><%= link_to request.sender.username, user_profile_path(request.sender) %></h5>
          <p class="card-text"><%= request.sender.profile.about_me %></p>

          <div class="row mt-5 pt-5 px-0 my-auto">

            <p class="col-md card-text my-md-auto"><em><small class="text-muted">Received <%= time_ago_in_words(request.created_at) %> ago</small></em></p>

            <div class="col-md friendships-buttons card-text">
              <div class="float-md-right">
                <%= link_to 'Accept', accept_request_user_path(request.sender.id), method: :post, class: 'btn btn-primary btn-sm accept-button' %>
                <%= link_to 'Reject', reject_request_user_path(request.sender.id), method: :delete, class: 'btn btn-primary btn-sm ml-3 reject-button' %>
              </div>
            </div>
          
          </div>

        </div>        
      </div><!-- Right half ends -->      

    </div>
  </div><!-- Each request box ends -->
<% end %>