<!DOCTYPE html>
<html>
  <head>
    <title>FakeBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= show_navbar %>

    <div class="alert-notice position-absolute">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container mt-2">
      <%= yield %>
    </div>
    
  </body>
</html>
