<!DOCTYPE html>
<html>
  <head>
    <title>Devium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= show_navbar %>

    <% if flash[:notice] %>
      <div class="alert alert-success text-center w-50 message">
        <button type="button", class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger text-center w-50 message">
        <button type="button", class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>
    
  </body>
</html>
